:root {
    --bg-color:#111111;
    --second-bg-color:#151515;
    --text-color:white;
    --main-color:#04fffb;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}


/*-----HEADER (NAVBAR) CSS-----*/

.header{
    background-color:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    position:relative;
    top:0;
    left:0;
    position:fixed;
}

.header div{
    color:var(--text-color);
    display:flex;
}

.header-name{
    padding:10px 10px 10px 120px;
    font-size:30px;
    
}

.last-name{
    padding-left:10px;
    color:var(--main-color);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.nav-bar-text{
    padding-right:100px;
}

nav ul li{
    list-style: none;
    display:inline-block;
    padding-right:40px;
}

nav ul li a{
    color:var(--text-color);
}

body{
    background:var(--bg-color);
}

.main-content{
    display:flex;
    flex-direction:column;
    align-items: center;
    color:var(--text-color);
    position:fixed;
    margin-top:8%;
    margin-left:27%;
}

.main-content .pfp{
    border-radius:50%;
    width:45%;
    height:45%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.pfp:hover{
    box-shadow:0 0 50px var(--main-color), 0 0 100px var(--main-color);
}


.main-content-text{
    text-align:center;
    padding-top:85px;
}

.main-content span{
    color:var(--main-color);
}

.main-content p{
    padding-top:20px;
}

.socials-icons img{
    padding-top:20px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
   
}